@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

:root {
  --tg-theme-bg-color: #efeff3;
  --tg-theme-button-color: #2eaddc;
  --tg-theme-button-text-color: white;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Jura';
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: -25px;
}

.honeycomb-cell {
  width: 125px;
  height: 125px;
  background-color: #000;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  transition: 0.7s;
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.honeycomb-cell--single {
  width: 117px;
  height: 117px;
  margin: 10px 0;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes smoothScale {
  0% {
    transform: scale(0.92);
  }
  50% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(0.92);
  }
}

.app .honeycomb-cell:not(.active) {
  opacity: 0.5;
  scale: 0.92;
  animation: smoothScale 3.5s infinite ease-in-out;
  pointer-events: none;
}

.app.active-cell .honeycomb-close {
  opacity: 1;
  z-index: 1;
}

.background-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  opacity: 0;
  z-index: -1;
}

.background-overlay.active {
  opacity: 1;
  z-index: 1;
}

.width100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.mt-auto {
  margin-top: auto;
}

.resources-box {
  background: rgba(0, 0, 0, 0.6);
  padding: 16px 40px;
  border-radius: 16px;
  backdrop-filter: blur(3px);
  position: relative;
  z-index: 3;
}

.resources-box::after {
  content: "";
  position: absolute;
  background: rgba(205, 99, 255, 1);
  width: 106px;
  height: 4px;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(50px);
  border-radius: 8px;
  box-shadow: 0px 0px 50px 0px rgba(205, 99, 255, 1);
}

.resources-box h3 {
  margin: 0 0 8px;
}

.resouces-box--values {
  display: flex;
  justify-content: space-between;
}

.resouces-box--values-single {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}

.resouces-box--values-single img {
  margin-right: 8px;
}

.overlay-hex {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 400px;
  width: 400px;
  transform: translate(-50%, -50%);
}

.overlay-hex .overlay-hex--image {
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background-repeat: no-repeat;
  background-size: cover;
}

.hex-card--back {
  position: absolute;
  left: 30px;
  top: 15px;
  height: 48px;
  width: 48px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hex-icon-main,
.hex-icon-lock {
  position: relative;
}

.honey-4-1 {
  top: 22%;
  left: 68%;
  transform: translate(-68%, -22%);
}

.honey-4-2 {
  top: 50%;
  left: 30%;
  transform: translate(-30%, -50%);
}

.honey-4-3 {
  top: 68%;
  left: 70%;
  transform: translate(-70%, -68%);
}

.honey-2-1 {
  top: 28%;
  left: 60%;
  transform: translate(-60%, -28%);
}

.honey-2-2 {
  top: 40%;
  left: 12%;
  transform: translate(-12%, -40%);
}

.honey-2-3 {
  top: 75%;
  left: 70%;
  transform: translate(-70%, -75%);
}